implementation/safe-rewriting/src/test/java/testFiles/targetScheTrg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="sourceSch_Trg">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="test_cp_0_nl0_ce0copy0_0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nut_cp_0_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="art_cp_0_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slope_cp_0_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="measure_cp_0_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_cp_0_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="cheese_cp_1_nl0_ce0copy1_1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="society_cp_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="compare_cp_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_cp_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="demand_cp_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="great_cp_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="board_cp_2_nl0_ce0copy2_2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="affect_cp_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_cp_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_cp_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="warn_cp_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_cp_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="red_cp_3_nl0_ce0copy3_3" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="wrong_cp_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="past_cp_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="wheel_cp_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="work_cp_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="letter_cp_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="blue_cp_4_nl0_ce0copy4_4" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="describe_cp_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="report_cp_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="night_cp_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="find_cp_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="attention_cp_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="discover_cp_5_nl0_ce0copy5_5" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="different_cp_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="reveal_cp_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_cp_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="narrow_cp_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rest_cp_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="place_cp_6_nl0_ce0copy6_6" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="expansion_cp_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pipe_cp_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="indicate_cp_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thank_cp_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stick_cp_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="order_cp_7_nl0_ce0copy7_7" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="twist_cp_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="account_cp_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="future_cp_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chin_cp_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mixed_cp_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="small_cp_8_nl0_ce0copy8_8" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="broken_cp_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brain_cp_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_cp_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="swim_cp_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_cp_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="approval_cp_9_nl0_ce0copy9_9" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="blow_cp_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="division_cp_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ready_cp_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="property_cp_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gun_cp_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="regular_me_0_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="discuss_me_0_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_me_0_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="use_me_0_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="dead_me_0_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="draw_me_0_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="send_me_0_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_me_0_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="powder_me_0_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="mind_me_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="library_me_1_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="die_me_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_me_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hit_me_1_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paint_me_1_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="decision_me_1_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="parallel_me_1_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_me_1_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="chalk_me_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="slow_me_2_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="word_me_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="kind_me_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ring_me_2_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="early_me_2_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="violent_me_2_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="organization_me_2_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stick_me_2_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="crush_me_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="certain_me_3_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sugar_me_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_me_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sweet_me_3_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rod_me_3_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="silk_me_3_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_me_3_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="door_me_3_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="last_me_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="chalk_me_4_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_me_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="degree_me_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fruit_me_4_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="science_me_4_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="desire_me_4_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="political_me_4_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="language_me_4_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="egg_me_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="involve_me_5_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mention_me_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pencil_me_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_me_5_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="claim_me_5_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="state_me_5_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sleep_me_5_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="clean_me_5_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="accept_me_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="shake_me_6_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_me_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_me_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="distribution_me_6_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gold_me_6_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pain_me_6_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="count_me_6_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="amount_me_6_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disease_me_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="butter_me_7_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="copy_me_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thick_me_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stiff_me_7_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="feeling_me_7_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="connect_me_7_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="probable_me_7_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="low_me_7_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="settle_me_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="complain_me_8_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="question_me_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="walk_me_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_me_8_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="explain_me_8_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="theory_me_8_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="root_me_8_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pain_me_8_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="boot_me_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="head_me_9_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="judge_me_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="impulse_me_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agencies_me_9_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="flat_me_9_nl1_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_me_9_nl1_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="poor_me_9_nl0_ae0comp1_joinattr_0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="goat_me_9_nl0_ae1comp1_joinattr_1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="speak_ad_0_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="sleep_ad_0_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="call_ad_0_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="road_ad_0_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rhythm_ad_0_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stomach_ad_0_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_ad_0_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="selection_ad_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="match_ad_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="wash_ad_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gain_ad_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_ad_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="give_ad_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="window_ad_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="win_ad_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="increase_ad_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="animal_ad_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hate_ad_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ready_ad_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="round_ad_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="act_ad_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="shut_ad_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="chin_ad_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="argue_ad_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="late_ad_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="summer_ad_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="will_ad_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="buy_ad_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="private_ad_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="appear_ad_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_ad_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="clock_ad_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="express_ad_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="wall_ad_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="common_ad_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="support_ad_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="hollow_ad_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="art_ad_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fly_ad_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="late_ad_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="important_ad_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="silver_ad_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="connection_ad_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="orange_ad_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fertile_ad_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="respect_ad_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="interest_ad_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="condition_ad_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="heart_ad_6_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="shut_ad_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="disappear_ad_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="awake_ad_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="church_ad_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hammer_ad_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="disgust_ad_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="experience_ad_7_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="earth_ad_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cover_ad_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="eat_ad_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prefer_ad_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="harbor_ad_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="foot_ad_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="year_ad_8_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="jump_ad_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="opinion_ad_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_ad_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="snake_ad_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bucket_ad_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="angle_ad_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="lift_ad_9_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="hollow_dl_0_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="discover_dl_0_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="settle_dl_0_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="act_dl_0_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_dl_0_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="enable_dl_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="bitter_dl_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="like_dl_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="trick_dl_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="green_dl_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="aim_dl_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ring_dl_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stay_dl_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shall_dl_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="committee_dl_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="degree_dl_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prove_dl_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="base_dl_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="speak_dl_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="comb_dl_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="paste_dl_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="government_dl_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="event_dl_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sort_dl_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mean_dl_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="beat_dl_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="fiction_dl_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="round_dl_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="soup_dl_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regret_dl_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="get_dl_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cut_dl_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ring_dl_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="voice_dl_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="room_dl_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="choose_dl_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="full_dl_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fork_dl_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stop_dl_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="line_dl_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="destruction_dl_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="conscious_dl_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="basin_dl_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="come_dl_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="long_dl_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="keep_dl_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="rhythm_dl_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cook_dl_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thin_dl_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="reply_dl_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="yellow_adl_0_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="learn_adl_0_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="parallel_adl_0_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grain_adl_0_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="lift_adl_0_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="blade_adl_0_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="train_adl_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="church_adl_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="digestion_adl_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="control_adl_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="matter_adl_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="suggest_adl_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="regard_adl_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="record_adl_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_adl_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="safe_adl_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="office_adl_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="burn_adl_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="thumb_adl_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="yellow_adl_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="receipt_adl_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fish_adl_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="wish_adl_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="go_adl_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="place_adl_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="watch_adl_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="form_adl_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="high_adl_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stamp_adl_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="language_adl_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="store_adl_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="arrange_adl_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="first_adl_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="play_adl_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stamp_adl_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="jewel_adl_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="rhythm_adl_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cry_adl_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="poor_adl_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="long_adl_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bright_adl_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shade_adl_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="open_adl_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="learn_adl_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="provide_adl_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="secret_adl_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="poor_adl_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="silk_adl_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="driving_adl_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="error_adl_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="trousers_adl_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="try_adl_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_adl_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="orange_adl_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="engine_adl_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="powder_adl_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="dependent_adl_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="desire_adl_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sleep_adl_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="laugh_adl_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
<xs:key name="test_cp_0_nl0_ce0copy0_0nut_cp_0_nl0_ae0ke0"><xs:selector xpath="./test_cp_0_nl0_ce0copy0_0"/><xs:field xpath="nut_cp_0_nl0_ae0ke0"/></xs:key>
<xs:key name="cheese_cp_1_nl0_ce0copy1_1society_cp_1_nl0_ae0ke0"><xs:selector xpath="./cheese_cp_1_nl0_ce0copy1_1"/><xs:field xpath="society_cp_1_nl0_ae0ke0"/></xs:key>
<xs:key name="board_cp_2_nl0_ce0copy2_2affect_cp_2_nl0_ae0ke0"><xs:selector xpath="./board_cp_2_nl0_ce0copy2_2"/><xs:field xpath="affect_cp_2_nl0_ae0ke0"/></xs:key>
<xs:key name="red_cp_3_nl0_ce0copy3_3wrong_cp_3_nl0_ae0ke0"><xs:selector xpath="./red_cp_3_nl0_ce0copy3_3"/><xs:field xpath="wrong_cp_3_nl0_ae0ke0"/></xs:key>
<xs:key name="blue_cp_4_nl0_ce0copy4_4describe_cp_4_nl0_ae0ke0"><xs:selector xpath="./blue_cp_4_nl0_ce0copy4_4"/><xs:field xpath="describe_cp_4_nl0_ae0ke0"/></xs:key>
<xs:key name="discover_cp_5_nl0_ce0copy5_5different_cp_5_nl0_ae0ke0"><xs:selector xpath="./discover_cp_5_nl0_ce0copy5_5"/><xs:field xpath="different_cp_5_nl0_ae0ke0"/></xs:key>
<xs:key name="place_cp_6_nl0_ce0copy6_6expansion_cp_6_nl0_ae0ke0"><xs:selector xpath="./place_cp_6_nl0_ce0copy6_6"/><xs:field xpath="expansion_cp_6_nl0_ae0ke0"/></xs:key>
<xs:key name="order_cp_7_nl0_ce0copy7_7twist_cp_7_nl0_ae0ke0"><xs:selector xpath="./order_cp_7_nl0_ce0copy7_7"/><xs:field xpath="twist_cp_7_nl0_ae0ke0"/></xs:key>
<xs:key name="small_cp_8_nl0_ce0copy8_8broken_cp_8_nl0_ae0ke0"><xs:selector xpath="./small_cp_8_nl0_ce0copy8_8"/><xs:field xpath="broken_cp_8_nl0_ae0ke0"/></xs:key>
<xs:key name="approval_cp_9_nl0_ce0copy9_9blow_cp_9_nl0_ae0ke0"><xs:selector xpath="./approval_cp_9_nl0_ce0copy9_9"/><xs:field xpath="blow_cp_9_nl0_ae0ke0"/></xs:key>
<xs:key name="regular_me_0_nl0_ce0winter_me_0_nl0_ae0comp1_joinattr_0powder_me_0_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./regular_me_0_nl0_ce0"/><xs:field xpath="winter_me_0_nl0_ae0comp1_joinattr_0"/><xs:field xpath="powder_me_0_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="mind_me_1_nl0_ce0parallel_me_1_nl0_ae0comp1_joinattr_0collection_me_1_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./mind_me_1_nl0_ce0"/><xs:field xpath="parallel_me_1_nl0_ae0comp1_joinattr_0"/><xs:field xpath="collection_me_1_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="chalk_me_2_nl0_ce0organization_me_2_nl0_ae0comp1_joinattr_0stick_me_2_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./chalk_me_2_nl0_ce0"/><xs:field xpath="organization_me_2_nl0_ae0comp1_joinattr_0"/><xs:field xpath="stick_me_2_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="crush_me_3_nl0_ce0mind_me_3_nl0_ae0comp1_joinattr_0door_me_3_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./crush_me_3_nl0_ce0"/><xs:field xpath="mind_me_3_nl0_ae0comp1_joinattr_0"/><xs:field xpath="door_me_3_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="last_me_4_nl0_ce0political_me_4_nl0_ae0comp1_joinattr_0language_me_4_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./last_me_4_nl0_ce0"/><xs:field xpath="political_me_4_nl0_ae0comp1_joinattr_0"/><xs:field xpath="language_me_4_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="egg_me_5_nl0_ce0sleep_me_5_nl0_ae0comp1_joinattr_0clean_me_5_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./egg_me_5_nl0_ce0"/><xs:field xpath="sleep_me_5_nl0_ae0comp1_joinattr_0"/><xs:field xpath="clean_me_5_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="accept_me_6_nl0_ce0count_me_6_nl0_ae0comp1_joinattr_0amount_me_6_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./accept_me_6_nl0_ce0"/><xs:field xpath="count_me_6_nl0_ae0comp1_joinattr_0"/><xs:field xpath="amount_me_6_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="disease_me_7_nl0_ce0probable_me_7_nl0_ae0comp1_joinattr_0low_me_7_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./disease_me_7_nl0_ce0"/><xs:field xpath="probable_me_7_nl0_ae0comp1_joinattr_0"/><xs:field xpath="low_me_7_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="settle_me_8_nl0_ce0root_me_8_nl0_ae0comp1_joinattr_0pain_me_8_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./settle_me_8_nl0_ce0"/><xs:field xpath="root_me_8_nl0_ae0comp1_joinattr_0"/><xs:field xpath="pain_me_8_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="boot_me_9_nl0_ce0poor_me_9_nl0_ae0comp1_joinattr_0goat_me_9_nl0_ae1comp1_joinattr_1"><xs:selector xpath="./boot_me_9_nl0_ce0"/><xs:field xpath="poor_me_9_nl0_ae0comp1_joinattr_0"/><xs:field xpath="goat_me_9_nl0_ae1comp1_joinattr_1"/></xs:key>
<xs:key name="speak_ad_0_nl0_ce0sleep_ad_0_nl0_ae0ke0"><xs:selector xpath="./speak_ad_0_nl0_ce0"/><xs:field xpath="sleep_ad_0_nl0_ae0ke0"/></xs:key>
<xs:key name="selection_ad_1_nl0_ce0match_ad_1_nl0_ae0ke0"><xs:selector xpath="./selection_ad_1_nl0_ce0"/><xs:field xpath="match_ad_1_nl0_ae0ke0"/></xs:key>
<xs:key name="win_ad_2_nl0_ce0increase_ad_2_nl0_ae0ke0"><xs:selector xpath="./win_ad_2_nl0_ce0"/><xs:field xpath="increase_ad_2_nl0_ae0ke0"/></xs:key>
<xs:key name="shut_ad_3_nl0_ce0chin_ad_3_nl0_ae0ke0"><xs:selector xpath="./shut_ad_3_nl0_ce0"/><xs:field xpath="chin_ad_3_nl0_ae0ke0"/></xs:key>
<xs:key name="private_ad_4_nl0_ce0appear_ad_4_nl0_ae0ke0"><xs:selector xpath="./private_ad_4_nl0_ce0"/><xs:field xpath="appear_ad_4_nl0_ae0ke0"/></xs:key>
<xs:key name="support_ad_5_nl0_ce0hollow_ad_5_nl0_ae0ke0"><xs:selector xpath="./support_ad_5_nl0_ce0"/><xs:field xpath="hollow_ad_5_nl0_ae0ke0"/></xs:key>
<xs:key name="connection_ad_6_nl0_ce0orange_ad_6_nl0_ae0ke0"><xs:selector xpath="./connection_ad_6_nl0_ce0"/><xs:field xpath="orange_ad_6_nl0_ae0ke0"/></xs:key>
<xs:key name="shut_ad_7_nl0_ce0disappear_ad_7_nl0_ae0ke0"><xs:selector xpath="./shut_ad_7_nl0_ce0"/><xs:field xpath="disappear_ad_7_nl0_ae0ke0"/></xs:key>
<xs:key name="earth_ad_8_nl0_ce0cover_ad_8_nl0_ae0ke0"><xs:selector xpath="./earth_ad_8_nl0_ce0"/><xs:field xpath="cover_ad_8_nl0_ae0ke0"/></xs:key>
<xs:key name="jump_ad_9_nl0_ce0opinion_ad_9_nl0_ae0ke0"><xs:selector xpath="./jump_ad_9_nl0_ce0"/><xs:field xpath="opinion_ad_9_nl0_ae0ke0"/></xs:key>
<xs:key name="hollow_dl_0_nl0_ce0discover_dl_0_nl0_ae0ke0"><xs:selector xpath="./hollow_dl_0_nl0_ce0"/><xs:field xpath="discover_dl_0_nl0_ae0ke0"/></xs:key>
<xs:key name="enable_dl_1_nl0_ce0bitter_dl_1_nl0_ae0ke0"><xs:selector xpath="./enable_dl_1_nl0_ce0"/><xs:field xpath="bitter_dl_1_nl0_ae0ke0"/></xs:key>
<xs:key name="aim_dl_2_nl0_ce0ring_dl_2_nl0_ae0ke0"><xs:selector xpath="./aim_dl_2_nl0_ce0"/><xs:field xpath="ring_dl_2_nl0_ae0ke0"/></xs:key>
<xs:key name="degree_dl_3_nl0_ce0prove_dl_3_nl0_ae0ke0"><xs:selector xpath="./degree_dl_3_nl0_ce0"/><xs:field xpath="prove_dl_3_nl0_ae0ke0"/></xs:key>
<xs:key name="paste_dl_4_nl0_ce0government_dl_4_nl0_ae0ke0"><xs:selector xpath="./paste_dl_4_nl0_ce0"/><xs:field xpath="government_dl_4_nl0_ae0ke0"/></xs:key>
<xs:key name="beat_dl_5_nl0_ce0fiction_dl_5_nl0_ae0ke0"><xs:selector xpath="./beat_dl_5_nl0_ce0"/><xs:field xpath="fiction_dl_5_nl0_ae0ke0"/></xs:key>
<xs:key name="get_dl_6_nl0_ce0cut_dl_6_nl0_ae0ke0"><xs:selector xpath="./get_dl_6_nl0_ce0"/><xs:field xpath="cut_dl_6_nl0_ae0ke0"/></xs:key>
<xs:key name="choose_dl_7_nl0_ce0full_dl_7_nl0_ae0ke0"><xs:selector xpath="./choose_dl_7_nl0_ce0"/><xs:field xpath="full_dl_7_nl0_ae0ke0"/></xs:key>
<xs:key name="destruction_dl_8_nl0_ce0conscious_dl_8_nl0_ae0ke0"><xs:selector xpath="./destruction_dl_8_nl0_ce0"/><xs:field xpath="conscious_dl_8_nl0_ae0ke0"/></xs:key>
<xs:key name="keep_dl_9_nl0_ce0rhythm_dl_9_nl0_ae0ke0"><xs:selector xpath="./keep_dl_9_nl0_ce0"/><xs:field xpath="rhythm_dl_9_nl0_ae0ke0"/></xs:key>
<xs:key name="yellow_adl_0_nl0_ce0learn_adl_0_nl0_ae0ke0"><xs:selector xpath="./yellow_adl_0_nl0_ce0"/><xs:field xpath="learn_adl_0_nl0_ae0ke0"/></xs:key>
<xs:key name="train_adl_1_nl0_ce0church_adl_1_nl0_ae0ke0"><xs:selector xpath="./train_adl_1_nl0_ce0"/><xs:field xpath="church_adl_1_nl0_ae0ke0"/></xs:key>
<xs:key name="regard_adl_2_nl0_ce0record_adl_2_nl0_ae0ke0"><xs:selector xpath="./regard_adl_2_nl0_ce0"/><xs:field xpath="record_adl_2_nl0_ae0ke0"/></xs:key>
<xs:key name="thumb_adl_3_nl0_ce0yellow_adl_3_nl0_ae0ke0"><xs:selector xpath="./thumb_adl_3_nl0_ce0"/><xs:field xpath="yellow_adl_3_nl0_ae0ke0"/></xs:key>
<xs:key name="place_adl_4_nl0_ce0watch_adl_4_nl0_ae0ke0"><xs:selector xpath="./place_adl_4_nl0_ce0"/><xs:field xpath="watch_adl_4_nl0_ae0ke0"/></xs:key>
<xs:key name="store_adl_5_nl0_ce0arrange_adl_5_nl0_ae0ke0"><xs:selector xpath="./store_adl_5_nl0_ce0"/><xs:field xpath="arrange_adl_5_nl0_ae0ke0"/></xs:key>
<xs:key name="rhythm_adl_6_nl0_ce0cry_adl_6_nl0_ae0ke0"><xs:selector xpath="./rhythm_adl_6_nl0_ce0"/><xs:field xpath="cry_adl_6_nl0_ae0ke0"/></xs:key>
<xs:key name="open_adl_7_nl0_ce0learn_adl_7_nl0_ae0ke0"><xs:selector xpath="./open_adl_7_nl0_ce0"/><xs:field xpath="learn_adl_7_nl0_ae0ke0"/></xs:key>
<xs:key name="driving_adl_8_nl0_ce0error_adl_8_nl0_ae0ke0"><xs:selector xpath="./driving_adl_8_nl0_ce0"/><xs:field xpath="error_adl_8_nl0_ae0ke0"/></xs:key>
<xs:key name="engine_adl_9_nl0_ce0powder_adl_9_nl0_ae0ke0"><xs:selector xpath="./engine_adl_9_nl0_ce0"/><xs:field xpath="powder_adl_9_nl0_ae0ke0"/></xs:key>
</xs:element>
</xs:schema>
